.App {
  text-align: center;
}

.newBorder{
  padding-left: 10%;
  padding-right:5%;
  padding-top: 10%;
}

.newBorder2{
  padding-left: 4%;
  padding-right:4%;
  padding-top: 8%;
}

.down{
  padding-top: 10%;
  padding-right: 12%;
}

.down2{
  padding-top: 4%;
}

.down3{
  padding-top: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
